<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Battleship</h1>
      <hr />
      <app-game-result></app-game-result>
      <app-waiting></app-waiting>
      <app-insertion-options></app-insertion-options>

      <div class="columns">
        <div
          class="column has-text-centered"
          *ngFor="let board of _game.GetBords(); let boardIndex = index"
        >
          <app-board [board]="board"></app-board>
        </div>
      </div>

      <div class="has-text-centered">
        <span class="tag is-success" *ngIf="_insertionService.isInsertionMode"
          >Setup Mode</span
        >
      </div>
    </div>
  </div>
</div>
