<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Battleship</h1>
      <hr />

      <section
        *ngIf="_game.isWon()"
        class="notification is-success has-text-centered"
      >
        <h1>Success! You won the game 💰🥂💪🏆</h1>
        <h5><a href="{{ _game.getGameUrl() }}">Start Again</a></h5>
      </section>
      <section
        *ngIf="_game.isFail()"
        class="notification is-info has-text-centered"
      >
        <h1>You have failed the game! 💀</h1>
        <h5><a href="{{ _game.getGameUrl() }}">Start Again</a></h5>
      </section>

      <app-waiting></app-waiting>
      <app-insertion-options></app-insertion-options>

      <div class="columns">
        <div
          class="column has-text-centered"
          *ngFor="let board of _game.GetBords(); let boardIndex = index"
        >
          <app-board [board]="board"></app-board>
        </div>
      </div>

      <div class="has-text-centered">
        <span class="tag is-success" *ngIf="_insertionService.isInsertionMode"
          >Setup Mode</span
        >
      </div>
    </div>
  </div>
</div>
