<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title">Battleship</h1>
      <hr />

      <section
        *ngIf="_game.isWon()"
        class="notification is-success has-text-centered"
      >
        <h1>Success! You won the game</h1>
        <h5><a href="{{ _game.getGameUrl() }}">Start Again</a></h5>
      </section>

      <app-waiting></app-waiting>
      <mat-button-toggle-group *ngIf="_insertionService.isInsertionMode" (change)="onInsertionShipModeChange()" [(ngModel)]="_insertionService.isVertical">
        <mat-button-toggle [value]="true">Vertical</mat-button-toggle>
        <mat-button-toggle [value]="false">Horizontal</mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-raised-button color="warn" (click)="onResetClick()">Reset</button>
      <button mat-raised-button color="primary" (click)="onConfirmClick()" *ngIf="_insertionService.awaitConfirmation">Confirm</button>

      <div class="columns">
        <div
          class="column has-text-centered"
          *ngFor="
            let board of _game.GetBords();
            let boardIndex = index
          "
        >
          <h5>
            <span class="tag is-info" *ngIf="board.isMyBoard">You</span>
            <span class="tag is-info" *ngIf="!board.isMyBoard">Opponent</span>
          </h5>
          <table
            class="is-bordered"
            [style.opacity]="isOpacityTurnedOn(board) ? 0.6 : 1"
          >
            <tr *ngFor="let row of board.tiles; let rowIndex = index">
              <td
                *ngFor="let col of row; let columnIndex = index"
                (click)="onClick(col,rowIndex,columnIndex)"
                (mouseenter)="onMouseEnter(rowIndex,columnIndex)"
                [class.insertion]="col.isInsertedShip"
                [class.win]="col.value == StatusEnum.ship"
                [class.fail]="col.value == StatusEnum.miss"
                [class.sink]="col.value == StatusEnum.sink"
                [class.blank]="!col.isInsertedShip && col.value == StatusEnum.blank"
                class="battleship-tile"
              >
                {{ this.getCellValue(col) }}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="has-text-centered">
        <span class="tag is-success" *ngIf="_insertionService.isInsertionMode"
          >Setup Mode</span
        >
        <ng-container *ngIf="!_insertionService.isInsertionMode">
          <span class="tag is-warning" *ngIf="_game.isMyTurn()"
            >Your turn!</span
          >
          <span class="tag is-danger" *ngIf="!_game.isMyTurn()"
            >Other player's turn.</span
          >
        </ng-container>
      </div>
    </div>
  </div>
</div>
